@model ClockingApp.Models.ClockingData.WeeklyClockingInfo

@if (Model.HasClockings)
{
    <div class="containerGroup spaceBetween">
        <div>
            <span class="groupLabel">User:</span>
            <span class="groupData">
                @Model.Username
            </span>
        </div>
        <div>
            <span class="groupLabel">Working Hours:</span>
            <span class="groupData hasSecondSmallPrint">
                @Model.PaidWorkingHours_formatted
            </span>
        </div>
        @if (Model.HasOvertime)
        {
            <div>
                <span class="groupLabel">Overtime Hours:</span>
                <span class="groupData">
                    @Model.OvertimeHours_formatted
                </span>
            </div>
        }
        <div>
            <span class="groupLabel">Working Days:</span>
            <span class="groupData">
                @Model.WorkingDaysCount
            </span>
        </div>
    </div>
    <p class="groupLabel smallMarginTop">Breakdown</p>
    <table class="table table-borderless clockingTable" id="clockingTable">
        <thead>
            <tr>
                <th>Date</th>
                <th>Work Start</th>
                <th>Work End</th>
                <th>Work Duration</th>
                <th>Breaks</th>
                <th>Breaks Breakdown</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.WeeklyClockings.Select((clocking, index) => new { clocking, index }))
            {
                <tr>

                    <td>
                        @item.clocking.ClockingDate.ToString("D")
                    </td>
                    <td>@item.clocking.WorkDay.StartDate_formatted</td>
                    <td>@item.clocking.WorkDay.EndDate_formatted</td>
                    <td class="hasSecondSmallPrint">@item.clocking.WorkingHoursPaid_formatted</td>
                    <td>@String.Format("{0} Breaks ({1})", item.clocking.NumberOfBreaks, item.clocking.BreakDuration_formatted)</td>
                    <td>
                        @if (item.clocking.Breaks != null)
                        {
                            <ul>
                                @foreach (var _break in item.clocking.Breaks)
                                {
                                    <li>
                                        @String.Format("{0} → {1} ({2})", _break.StartDate_formatted
                                   , _break.EndDate_formatted, _break.Duration_formatted)
                                    </li>
                                }
                            </ul>
                        }
                    </td>
                    <td>
                        <div class="optionsMenu">
                            <div class="containerGroup initial">
                                <button type="button" class="inlineEditButton btn btn-light" onclick="DeleteClocking('@(item.clocking._id)', 'clockingTable', '@(item.index)')">×</button>
                                <button type="button" class="inlineEditButton btn btn-light" onclick="window.open('@(Url.Action("EditClocking", "Clocking", new { clocking = item.clocking._id }))', '_blank')">✎</button>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <p class="additionalInfo">Any anomalies or questions about clocking data stated within this document, please contact ramon@ramongomez.xyz</p>
    <p class="smallPrint">Week number is not to be confused with Payslip period. Week number shown refers to Clocking week stated above</p>
    <p class="secondSmallPrint">Working hours only include paid 15 minutes break. All additional breaks are not included in this figure.</p>
}