@model IList<ClockingApp.Models.ClockingData.Clocking>
@{
    ViewData["Title"] = "Home Page";
}
<section id="welcomeSection">
    <div class="text-center">
        <h4>Welcome again, <small class="text-muted">Ramón</small></h4>
    </div>
</section>
<section id="todaysClocking">
    <div class="text-left">
        <h5>For Today</h5>
        <div class="d-flex flex-row">
            <div class="p-2">
                <button class="btn btn-sm btn-primary">Start Log</button>
            </div>
            <div class="p-2">
                <button class="btn btn-sm btn-warning">Add break</button>
            </div>
        </div>
    </div>
    <div class="text-center">
        @{
            ClockingApp.Models.ClockingData.Clocking? clocking = ViewData["todaysClocking"] as ClockingApp.Models.ClockingData.Clocking;
            if (clocking != null)
            {
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-row">
                            <div>
                                <b>Work Day: </b>@clocking.WorkDay.StartDate -> @clocking.WorkDay.EndDate
                            </div>
                        </div>
                    </div>
                </div>
            }
        }

    </div>
</section>
<section id="weeksClocking">
    <div class="text-left">
        <h5>For this week</h5>
    </div>
    <div class="center">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>id</th>
                    <th>username</th>
                    <th>Date</th>
                    <th>Work Times</th>
                </tr>
            </thead>
            <tbody>
                @foreach (ClockingApp.Models.ClockingData.Clocking clockingItem in Model)
                {
                    <tr>
                        <td>@clockingItem._id</td>
                        <td>@clockingItem.Username</td>
                        <td>@clockingItem.ClockingDate.ToString()</td>
                        <td>@String.Format("{0} -> {1}", clockingItem.WorkDay.StartDate, clockingItem.WorkDay.EndDate)</td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>


