@model ClockingApp.Models.ClockingData.Clocking
@{
    ClockingApp.Models.ClockingData.Clocking clocking = Model;
    string username = ViewBag.username;
    DateTime currentDate = DateTime.Now.Date;
}

<section id="welcomeSection">
    <div class="text-center">
        <h4>Welcome, <small class="text-muted">@username</small></h4>
    </div>
</section>
<section id="todaysClocking">
    <div class="text-left">
        <h5>For Today, <small class="text-muted">@currentDate.ToString("D")</small></h5>
    </div>
    <div class="card">
        <div class="card-header">
            <div class="containerGroup initial">
                <div>

                    @*TODO: Improve below adding condition checks for toggling visibility in Work and Break objects*@
                    @if (clocking == null)
                    {
                        <button class="btn btn-sm btn-outline-primary" onclick="StartWork()">Start Work</button>
                    }
                    else if (clocking.WorkDay != null && clocking.WorkDay.IsWorkActive)
                    {
                        <button class="btn btn-sm btn-primary" onclick="FinishWork('@clocking._id')">Finish Work</button>
                    }
                </div>
                <div>
                    @if (clocking != null && clocking.WorkDay != null && clocking.WorkDay.IsWorkActive && !clocking.IsCurrentBreakActive())
                    {
                        <button class="btn btn-sm btn-outline-secondary" onclick="StartBreak('@clocking._id')">Start Break</button>
                    }
                    else if (clocking != null && clocking.IsCurrentBreakActive())
                    {
                        <button class="btn btn-sm btn-secondary" onclick="FinishBreak('@clocking._id')">Finish Break</button>
                    }
                </div>
            </div>
        </div>
        <div class="card-body">
            @if (clocking != null)
            {
                <ul>
                    <li>
                        <b>Work Day</b>
                        <ul>
                            <li>
                                Start: @(clocking.WorkDay != null ? clocking.WorkDay.StartDate : null)
                            </li>
                            <li>
                                End: @(clocking.WorkDay != null && clocking.WorkDay.IsWorkFinished ? clocking.WorkDay.EndDate: null)
                            </li>
                            <li>
                                Duration (h): @(clocking.WorkDay != null ? clocking.WorkDay.Duration_formatted : null)
                            </li>
                        </ul>
                    </li>
                    <li>
                        <b>Breaks</b>
                        @if (clocking.Breaks != null && clocking.Breaks.Any())
                        {
                            <table class="table table-sm table-striped">
                                <thead>
                                    <tr>
                                        <th>Start</th>
                                        <th>End</th>
                                        <th>Duration (h)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (ClockingApp.Models.ClockingData.BreakDay _break in clocking.Breaks)
                                    {
                                        <tr>
                                            <td>@_break.StartDate</td>
                                            <td>@_break.EndDate</td>
                                            <td>@_break.Duration_formatted</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <small class="muted">No breaks entered yet...</small>
                        }
                    </li>
                </ul>

            }
            else
            {
                <small class="muted">No clocking for today yet...</small>
            }
        </div>
    </div>
</section>